<footer class="w-ful h-10 bg-gray-600 flex justify-center items-center mt-20">
    <p class="text-gray-300 text-center">&copy; 2021 Copyright: <strong class="text-white">Tasky.com</strong></p>
</footer>